worker_processes 1;
error_log stderr;
pid nginx.pid;
daemon off;

events {
  worker_connections 768;
}

http {
  types_hash_max_size 2048;
  include mime.types;
  server {
    listen <%= ENV["PORT"] %>;
    server_name  _;
    <% if ENV["ROOT"] %>
      root /app/www/<%= ENV["ROOT"] %>;
    <% else %>
      root /app/www;
    <% end %>
    index index.html;
    location /.+\..+ { }
    location / {
      try_files $uri /index.html;
    }
  }
}
